<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Content/css/bootstrap.css">
    <link rel="stylesheet" href="/Content/css/styles.css">
    <title>C# Project</title>
  </head>
  <body>
    <div class = "col-md-1">
      <ul>
        <li><a class="active" href="/">Index</a></li>
        <li><a href = "/Error">Results</a></li>
        <li class = "dropdown">
          <a href = "/" class="dropbtn">Examples</a>
          <div class = "dropdown-content">
            <a href = "/Error">First example</a>
            <a href = "/Error">Second example</a>
            <a href = "/Error">Third example</a>
          </div>
        </li>
      </ul>
    </div>
    <div class - "col-md-6">
      <div class = "container" id = "grad1">
        @RenderBody()
      </div>
    </div>
  </body>
</html>
