@{
  Layout = "Shared/_layout.cshtml";
}

<div id = "errorText">
  <h3>UH OH!</h3>
  <img src="http://www.best4balls.com/media/catalog/product/cache/1/thumbnail/700x/9df78eab33525d08d6e5fb8d27136e95/g/o/goofy-face.png" alt="goofyface" id = "error">

  <p>
    It seems that this page is under maintanence!
  </p>
</div>
