@{
  Layout = "Shared/_layout.cshtml";
}

<div class = "jumbotron">
  <h1>WELCOME</h1>
  <p>
    This program counts words that have been repeated
  </p>
</div>
<form action="/result" method="post">
  <p>
    <label for="sentence">Enter a sentence</label>
    <input type="text" name="sentence">
  </p>

  <p>
    <label for="word">Enter a word you would like to find in the sentence</label>
    <input type="text" name="word">
  </p>

  <button type="submit" name="button">Submit</button>
</form>
