@{
  Layout = "Shared/_layout.cshtml";
}

<div id = "resultsDiv">
  <p>
    The amount of @Model.GetWord() there are is <br><br><span id = "CountAnimation">@Model.CountRepeats()</span>
  </p>

  <p id = "getSentence">
    @Model.GetSentence()
  </p>
</div>
