@{
  Layout = "Shared/_layout.cshtml";
}

<div class = "well" id = "resultsDiv">
  <p>
    The amount of @Model.GetWord() there are is
  </p>

  <p id = "CountAnimation" class = "animated infinite wobble">
    <br><br><span id = "CountAnimation">@Model.CountRepeats()</span>

  </p>
  <p>
    @Model.GetSentence()
  </p>
</div>
