#resultsDiv
{
  margin-top: 50%;
  margin-left: 25%;
}
#getSentence
{
  margin-top: 5%;
}
#CountAnimation
{
  margin-left: 25%;
  animation-name: animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes animation
{
  0% {
    font-size: 25px;
  }
  25% {
    font-size: 35px;
    transform: rotate(25deg);
  }
  50% {
    font-size: 25px;
    transform: rotate(-25deg);
  }
  75% {
    font-size: 35px:
    transform: rotate(-25deg);
  }
  100% {
    font-size: 25px;
    transform: rotate(25deg);
  }
}
